<launch> 
    <!-- ttyTHS1 for NVIDIA nano serial port-->
    <!-- ttyUSB0 for IPC USB serial port -->
    <arg name="port_name" default="ttyTHS1"/>
    <arg name="odom_topic_name" default="odom" />


    <include file="$(find limon_base)/launch/limon_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
    </include>

</launch>

