<launch> 
    <!-- ttyTHS1 for NVIDIA nano serial port-->
    <!-- ttyUSB0 for IPC USB serial port -->
    <arg name="port_name" default="ttyTHS1"/>
    <arg name="odom_topic_name" default="odom" />

    <include file="$(find limon_base)/launch/limon_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
    </include>

    <include file="$(find ydlidar_ros)/launch/X2L.launch">
    </include>
    <include file="$(find serial_imu)/launch/hi226.launch">
    </include>

    <!-- display -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find limon_bringup)/config_files/demo_2d.rviz" />
</launch>